body{
    font-family: 'Montserrat';  
}
#title
{
    background-color: #ff4c68;
    color: white;
}

h1 
{    
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    position: relative;
    z-index: 1;
    /* color: white; */
}

.container-fluid

{
   padding: 1% 15% 7% 15%;
}

.navbar{
    padding-bottom: 0 0 4.5rem;
}
.navbar-brand
{
    font-size: 2.5rem;
    font-family: "Ubuntu";
    font-weight: bold;
}
.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 300;
}

/* Download Buttons */

.download-btn
{
    margin: 5% 3% 5% 0;
    position: relative;
    z-index: 1;
}

/* Title Image Rotate */

.title-image
{
    width: 300px;
    /* height: 50px; */
    transform: rotate(25deg);
    position: absolute;
    margin-left: 5%;
    margin-top: 1%;
    /* right: 30%; */
}

/*features section*/

#features
{
    margin: 40px 0;
    /* padding: 7% 15%; */
    background-color:white ;
   
}

.feature-box{
    text-align: center;
    padding: 4.5%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.nopadding
{
    padding: 10px 0;
}

h3{
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 10px;
}

h2{
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: bold;
    line-height: 1.5;
}


p{
    color: #8f8f8f;
}

.f-logo
{
   font-size: 4em;
   color: #ef8172;
}

.f-logo:hover{
    color: #ff4c68;
}

/* Testimonial Section */
#testimonials

{
   /* padding: 7% 15%; */
   text-align: center;
   background-color: #ef8172;
   color: white;
}

.carousel-item
{
    padding: 7% 15%;
}
.testimonial-image
{
    width: 15%;
    margin: 5% 3%;
    margin: 20px;
    border-radius: 100%;
}

#press
{
    background-color: #ef8172 ;
    text-align: center;
    padding-bottom: 5%;
}

.press-image
{
    width: 12%;
    margin: 20px 20px 50px;
}

/* Pricing section  */

#pricing
{
    padding: 100px;
    text-align: center;
}

.pricing-column
{
    padding: 3% 2%;
}

@media screen and (max-width:1028px ) {

    #title
{
    text-align: center;
}
.title-image
{
    /* height: 50px; */
    position: static;
    transform: rotate(0);

    right: 0%;
}
    
}


/* CTA Section   */
#cta
{
    text-align: center;
    background-color: #ff4c68;
    
}
.cta-text
{
    color: white;
    font-size: 2.5rem;
    padding-top: 5%;
    font-weight: 900;
    line-height: 1.5;
}

#footer
{
    text-align: center;
    padding-top: 3%;
}
.footer-logo
{
    padding: 2%;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.884);
}

.footer-logo:hover{
    color: #505050;
}